.product{
    display: flex;
    border-bottom:1px solid lightgrey ;
    margin-bottom: 5px;
    margin-right: 20px;
    padding-bottom: 5px;
    padding-left: 40px;
}
.productName{
    color: blue;
    font-weight: bold;
}

.productDetails{
    padding-left: 20px;
}
.cart-button{
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border: 1px solid orange;
    border-radius: 5px;
}
.cart-button:hover{
    cursor: pointer;
}